

html,body {
  margin: 0;
  padding:0px;
  min-height: 100vh;
  background-color: #041229;
}


#app {
  margin: 0 auto;
  padding:0px;
}

@font-face {
    font-family: 'din_condensedbold';
    src: url('/font/din_condensed_bold.woff2') format('woff2'),
         url('/font/din_condensed_bold.woff') format('woff'),
         url('/font/din_condensed_bold.ttf') format('truetype');

}

